<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	

	<div class="about content">
		<h2>About us</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos totam vero ipsum harum accusantium, magni doloremque fuga consectetur nulla amet hic aspernatur dolores laudantium accusamus incidunt officiis. Quisquam, mollitia ipsum?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cumque amet unde harum perferendis molestias soluta quis saepe, suscipit officiis ex eos blanditiis, praesentium eaque minima velit tempora maiores asperiores.</p>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>